/* Polices */

@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

/* Général */

:root {
    --color-accent: #22333b;
    --color-primary: #5e503f;
    --color-primary-var-light: #e5d7c6;
    --color-primary-var-dark: #251706;
    --color-neutral-light: #ffffff;
    --color-neutral-dark: #0a0908;
    --color-neutral-medium: #e4e8e6;
    --font-headings: "Unbounded", "sans-serif";
    --font-main: "Golos Text", "Inter", "sans-serif";
}

*:not(h1, h2, h3, h4, h5, p, img) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
}

.th-dark {
    background-color: var(--color-neutral-dark);
    color: var(--color-neutral-light);
}
.th-light {
    background-color: var(--color-neutral-light);
    color: var(--color-neutral-dark);
}
.th-primary {
    background-color: var(--color-primary);
    color: var(--color-neutral-light);
}

.th-primary-lighter {
    background-color: var(--color-primary-var-light);
    color: var(--color-neutral-dark);
}

body {
    font-family: var(--font-main);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headings);
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.8rem;
}

p {
    max-width: 600px;
    line-height: 1.5em;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
    flex: 1;
}

section {
    max-width: 100vw;
    min-height: 80vh;
}

.container {
    padding: 3rem 2rem;
    gap: 4rem;
}

.container > div {
    width: 100%;
    max-width: 1080px;
}

/* Navigation */

.navbar {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px dotted var(--color-primary);
}

.logo {
    position: absolute;
    height: 3.6rem;
}

.menu-toggle {
    position: absolute;
    top: 0;
    right: 2rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    background: url("/assets/icones/patte-menu.svg");
    background-size: cover;
    transition: all 0.5s;
}

.menu-toggle:hover:not(.opened) {
    transform: translateY(1rem);
}

.menu-toggle:not(.opened):hover + .main-menu:not(.opened) {
    height: 1.25rem;
}

.main-menu {
    flex-direction: column;
    list-style: none;
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    inset: 0;
    height: 0;
    color: var(--color-primary-var-dark);
    background-color: var(--color-primary-var-light);
    transition: all 0.5s;
}

.main-menu.opened {
    height: 10rem;
    border-bottom: 1px dotted var(--color-primary);
}
.menu-toggle.opened {
    transform: translateY(9.75rem);
}

.main-menu li {
    padding: 2rem;
}

/* Accueil */

.hero h2 {
    color: var(--color-primary-var-light);
}

.author-portrait {
    width: 44%;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
}

.home-post-preview {
    position: relative;
    background-color: var(--color-primary-var-light);
    width: 80vw;
    height: 80vw;
    border-radius: 1.2rem;
    text-align: center;
    margin: auto;
}

.home-post-preview::before {
    position: absolute;
    display: block;
    content: "";
    inset: 0 0 0 0;
    background-color: var(--color-primary);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: luminosity;
    border-radius: 1.2rem;
    transition: all 0.5s;
}

#prev-1::before {
    background-image: url("/articles/tais-toi-et-mange-tes-croquettes/croquettes.jpeg");
}
#prev-2::before {
    background-image: url("/articles/songe-de-printemps/fleurs-de-cerisier.webp");
}
#prev-3::before {
    background-image: url("/articles/se-cultiver-par-l-humain/livre.jpeg");
}
#prev-4::before {
    background-image: url("/articles/bonjour-les-vacances/paysage-neige.jpeg");
}

.home-post-preview::after {
    position: absolute;
    display: block;
    content: "";
    inset: 0 0 0 0;
    background-color: var(--color-primary-var-dark);
    filter: hue-rotate(-10deg);
    opacity: 0.5;
    border-radius: 1.2rem;
}

.home-post-preview-title {
    color: var(--color-primary-var-light);
    position: absolute;
    width: 100%;
    z-index: 100;
    opacity: 0.8;
    transition: all 0.5;
}

.home-post-preview:hover {
    cursor: pointer;
}

.home-post-preview:hover .home-post-preview-title {
    opacity: 1;
}

.home-post-preview:hover::before {
    filter: brightness(0.4);
    transition: all 0.5s;
}

.about {
    gap: 2rem;
    text-align: justify;
}

.about > * {
    align-items: flex-start;
    padding: 3rem;
    gap: 2.25rem;
}

.presentation {
    font-size: 1.5rem;
}

.posts-page-preview,
.preview-wrapper {
    gap: 4rem;
}

.preview-date::before,
.preview-date::after {
    display: inline-block;
    content: "";
    width: 56px;
    height: 1px;
    margin: 0 1.4rem;
    background-color: var(--color-primary-var-dark);
    vertical-align: middle;
}

.preview-img {
    position: relative;
    overflow: hidden;
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
}

.preview-img img {
    height: 12rem;
    position: absolute;
    filter: sepia(0.2);
}

.preview-text a {
    text-decoration: underline;
}

/* Articles */

.blog-post {
    max-width: 100vw;
    align-items: flex-start;
    padding: 3rem;
}

.post-header {
    position: relative;
    width: 100%;
    height: 28rem;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.post-header img {
    width: 100%;
    position: absolute;
    bottom: 0;
    filter: sepia(0.2);
    border-radius: 1rem;
}

/* Formulaire de contact */

.contact-form {
    width: 100%;
    align-items: flex-start;
    padding: 4rem 0;
    color: var(--color-neutral-medium);
}

.contact-form input, .contact-form textarea {
    width: 100%;
    background: #1b1b1b;
    min-height: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

.contact-form button {
    border-radius: 1rem;
    background-color: var(--color-primary-var-light);
    padding: 1rem;
    color: var(--color-neutral-dark);
}
/* Footer */

footer {
    position: relative;
    min-height: 50vh;
    color: var(--color-primary-var-dark);
    border-top: 1px dotted var(--color-accent);
    text-align: center;
}

footer::before {
    position: absolute;
    inset: 0;
    content: "";
    width: 95%;
    height: 88%;
    margin: auto;
    border-radius: 2rem;
    background-image: url("/assets/images/paw-pattern.svg");
    filter: opacity(0.05);
}

/* Mobile-first design : Media Queries */

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }
    .container {
        padding: 6.25rem;
    }

    .navbar {
        padding: 1rem 6.25rem;
    }

    .logo {
        height: 6.5rem;
        top: 50%
    }

    .menu-toggle {
        display: none;
    }
    .main-menu {
        position: relative;
        flex-direction: row;
        color: var(--color-neutral-light);
        height: auto;
        background: none;
    }

    .main-menu a:hover {
        color: var(--color-primary-var-light);
    }

    .posts-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-post-preview {
        width: 36vw;
        height: 36vw;
    }
    .home-post-preview,
    .home-post-preview::before,
    .home-post-preview::after {
        border-radius: 2rem;
    }

    .home-post-preview-title {
        width: 90%;
    }

    .contact-form {
        width: 60%;
    }
}
